*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    width: 100%;
    border: 1px solid red;
    margin: 10px auto;
}

.header{
    background: #8e9eb4;
    overflow: hidden;
}


.logo{
    width: 300px;
    float: left;
    padding: 35px;
}

.menu{
    float: left;
    padding: 35px;
    float: right;
  
}

.opciones{
    float: left;
    /* margin-top: auto; */
    padding: 10px;
}

.opciones li {
    float: left;
    list-style: none;
    padding: 15px;
    border: 1px solid white;
    
}

.opciones li a{
    text-decoration: none;
    color: white;
}

.listas{
   overflow: hidden;
}
.card{


    width: 370px;
    overflow: hidden; 
    float: left;
    border: 1px solid;
    margin: 80px;
    /* text-align: justify; */
}

.card-img-top{
    width: 200px;
     padding: 20px; 
    margin-left: 40px;
}

.card-body{
    text-align: center;
    padding-bottom: 25px;

}

.card-title{ 
    padding: 15px 25px;
    margin-bottom: 20px;
}

.btn-primary{
    background-color: #199319;
  color: white;
  padding: 15px 25px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 6px 5px 24px #666666;
  font-size: 15px;
  padding: 19px;
  text-decoration: none;
} 




